In [2]:
from sqlalchemy import create_engine

In [3]:
from pyinaturalist import *
import json 
import pandas as pd
import time

# Bounding Box for Georgia, USA
# [South Latitude, North Latitude, West Longitude, East Longitude]
# [-85.606749,30.359092,-80.843756,35.000591]

observationsSep = get_observations(place_id=23, per_page=200, introduced=True, quality_grade='research', month=9)
observationsAug = get_observations(place_id=23, per_page=200, introduced=True, quality_grade='research', month=8)
observationsJul = get_observations(place_id=23, per_page=200, introduced=True, quality_grade='research', month=7)
observationsJun = get_observations(place_id=23, per_page=200, introduced=True, quality_grade='research', month=6)
observationsMay = get_observations(place_id=23, per_page=200, introduced=True, quality_grade='research', month=5)

dfs = []

dfSep = pd.DataFrame(observationsSep['results'])
dfs.append(dfSep)
dfAug = pd.DataFrame(observationsAug['results'])
dfs.append(dfAug)
dfJul = pd.DataFrame(observationsJul['results'])
dfs.append(dfJul)
dfJun = pd.DataFrame(observationsJun['results'])
dfs.append(dfJun)
dfMay = pd.DataFrame(observationsMay['results'])
dfs.append(dfMay)

In [4]:
updated_dfs = []
for df in dfs:
    new_df = df[['time_observed_at', 'species_guess', 'place_guess', 'location']]
    updated_dfs.append(new_df)

updated_dfs[0].head()

,time_observed_at,species_guess,place_guess,location
0,2021-09-30T12:56:57-04:00,Jorō Spider,"Brook Run Dog Park, Dunwoody, GA, US","[33.9330116667, -84.29798]"
1,2021-09-30T09:30:00-04:00,Jorō Spider,"Golden Leaf Trail, Peachtree Corners, GA, US","[33.9799955244, -84.2220214651]"
2,2021-09-27T20:32:49-04:00,red spider lily,"S West St, Bainbridge, GA, US","[30.8995533333, -84.5765133333]"
3,2021-09-30T18:44:00-04:00,Jorō Spider,"Sagamore Hills, Atlanta, GA 30345, USA","[33.8274908, -84.2999369]"
4,2021-09-30T23:35:43-04:00,Leopard Slug,"Young Harris College, Young Harris, GA, US","[34.932095, -83.8455883333]"

In [7]:
DATABASE_URL = 'CONNECTION STRING HERE'


db = create_engine(DATABASE_URL)

conn = db.connect()

updated_dfs[0].to_sql('observations', con=conn, if_exists='replace')

for df in updated_dfs[1:]:
    df.to_sql('observations', con=conn, if_exists='append')

In [8]:
test_df = pd.read_sql("SELECT * FROM observations", con=conn)
conn.close()

In [9]:
test_df.head()

,index,time_observed_at,species_guess,place_guess,location
0,0,2021-09-30T12:56:57-04:00,Jorō Spider,"Brook Run Dog Park, Dunwoody, GA, US","{33.9330116667,-84.29798}"
1,1,2021-09-30T09:30:00-04:00,Jorō Spider,"Golden Leaf Trail, Peachtree Corners, GA, US","{33.9799955244,-84.2220214651}"
2,2,2021-09-27T20:32:49-04:00,red spider lily,"S West St, Bainbridge, GA, US","{30.8995533333,-84.5765133333}"
3,3,2021-09-30T18:44:00-04:00,Jorō Spider,"Sagamore Hills, Atlanta, GA 30345, USA","{33.8274908,-84.2999369}"
4,4,2021-09-30T23:35:43-04:00,Leopard Slug,"Young Harris College, Young Harris, GA, US","{34.932095,-83.8455883333}"